**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/charts
**/bin
**/obj
**/Properties
**/LICENSE
**/Dockerfile
**/Dockerfile*
**/Dockerfile.develop
**/docker-compose.yml
**/docker-compose.*.yml
**/*.dbmdl
**/*.jfm
**/*.md
**/*.sln
**/secrets.dev.yaml
**/values.dev.yaml
**/.toolstarget